In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import os
os.getcwd()

'C:\\Users\\ajaya'

In [25]:
schema_1 = pd.read_csv(r"C:\Users\ajaya\Desktop\NUMPYNINJA\HACKATHON\HACKATHON DETAILS\schema_1_ontario_final.csv")
schema_2 = pd.read_csv(r"C:\Users\ajaya\Desktop\NUMPYNINJA\HACKATHON\HACKATHON DETAILS\schema_2_ontario_final.csv")
schema_3 = pd.read_csv(r"C:\Users\ajaya\Desktop\NUMPYNINJA\HACKATHON\HACKATHON DETAILS\schema_3_ontario_final.csv")

In [26]:
schema_1 #Reading Schema 1 file

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
2,14,N2J,n,y,y,n,n,n,y,n,n,n
3,13,N1G,n,n,y,n,n,n,n,n,n,n
4,13,M1P,n,y,n,n,n,n,n,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,n,y,y,n,n,n,n,y,n,n
263635,14,M6P,n,y,y,n,n,n,n,y,n,n
263636,13,L3X,n,n,y,n,n,n,n,n,n,n
263637,14,M6R,n,n,y,n,n,n,n,n,n,n
263638,13,M8V,y,y,y,n,n,n,y,n,y,y

In [27]:
schema_2#Reading Schema 2 file

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,15,L6B,n,y,y,n,n,n,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,15,L6J,n,n,y,n,n,n,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64
14929,16,N9V,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44
14930,16,L3Z,n,n,y,n,n,n,y,n,n,NaN,NaN,asian,m,other,26-44
14931,16,L6J,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44

In [28]:
schema_3#Reading Schema 3 file

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,n,n,n,n,n,y,n,n,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
2,April,K0L,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,n,n,n,n,n,y,n,n,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,n,n,n,n,n,y,n,n,...,NaN,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,n,n,n,n,n,y,n,n,...,firstNations;black/african;caucasian,NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,n,y,n,n,n,y,n,n,...,NaN,m,noneOfTheAbove,>65,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
15533,July,K2H,n,n,n,n,n,y,n,n,...,NaN,f,noneOfTheAbove,45-64,negatively,stillTravelEssential,y,NaN,NaN,n

In [29]:
schema_1.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath', 'over_60',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness'],
      dtype='object')

In [30]:
schema_2.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'symptoms', 'conditions', 'ethnicity', 'sex',
       'needs', 'age_1'],
      dtype='object')

In [31]:
schema_3.columns

Index(['month', 'fsa', 'probable', 'vulnerable', 'fever_chills_shakes',
       'cough', 'shortness_of_breath', 'any_medical_conditions',
       'travel_outside_canada', 'contact_with_illness', 'contact_in_household',
       'tested', 'covid_results_date', 'covid_positive', 'symptoms',
       'conditions', 'ethnicity', 'sex', 'needs', 'age_1',
       'mental_health_impact', 'travel_work_school', 'self_isolating',
       'media_channels', 'financial_obligations_impact', 'tobacco_usage'],
      dtype='object')

In [32]:
combined_schema_df = pd.concat([schema_1, schema_2,schema_3], ignore_index=True, sort=False)  #combining 3 file

In [33]:
combined_schema_df

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,13.0,L4C,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,y,y,y,n,n,n,y,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,n,y,y,n,n,n,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.0,M1P,n,y,n,n,n,n,n,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,NaN,M6P,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,NaN,K1R,n,n,NaN,n,n,n,NaN,y,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,NaN,M4M,n,n,NaN,n,n,n,NaN,y,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,NaN,M6P,n,y,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,NaN,K2H,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [34]:
combined_schema_df.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath', 'over_60',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'symptoms', 'conditions', 'ethnicity', 'sex',
       'needs', 'age_1', 'month', 'contact_in_household', 'tested',
       'covid_results_date', 'covid_positive', 'mental_health_impact',
       'travel_work_school', 'self_isolating', 'media_channels',
       'financial_obligations_impact', 'tobacco_usage'],
      dtype='object')

In [35]:
combined_schema_df.info()#non -null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294105 entries, 0 to 294104
Data columns (total 29 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   week                          278571 non-null  float64
 1   fsa                           294105 non-null  object
 2   probable                      294105 non-null  object
 3   vulnerable                    294105 non-null  object
 4   is_most_recent                278571 non-null  object
 5   fever_chills_shakes           294105 non-null  object
 6   cough                         294105 non-null  object
 7   shortness_of_breath           294105 non-null  object
 8   over_60                       263639 non-null  object
 9   any_medical_conditions        294105 non-null  object
 10  travel_outside_canada         294105 non-null  object
 11  contact_with_illness          294105 non-null  object
 12  symptoms                      2589 non-null    object
 13  conditions                    6157 non-null    object
 14  ethnicity                     7399 non-null    object
 15  sex                           23614 non-null   object
 16  needs                         22635 non-null   object
 17  age_1                         30466 non-null   object
 18  month                         15534 non-null   object
 19  contact_in_household          159 non-null     object
 20  tested                        15534 non-null   object
 21  covid_results_date            421 non-null     object
 22  covid_positive                490 non-null     object
 23  mental_health_impact          8687 non-null    object
 24  travel_work_school            8680 non-null    object
 25  self_isolating                8679 non-null    object
 26  media_channels                5702 non-null    object
 27  financial_obligations_impact  916 non-null     object
 28  tobacco_usage                 8678 non-null    object
dtypes: float64(1), object(28)
memory usage: 65.1+ MB

In [36]:
combined_schema_df.isna().sum() #null values count

week                             15534
fsa                                  0
probable                             0
vulnerable                           0
is_most_recent                   15534
fever_chills_shakes                  0
cough                                0
shortness_of_breath                  0
over_60                          30466
any_medical_conditions               0
travel_outside_canada                0
contact_with_illness                 0
symptoms                        291516
conditions                      287948
ethnicity                       286706
sex                             270491
needs                           271470
age_1                           263639
month                           278571
contact_in_household            293946
tested                          278571
covid_results_date              293684
covid_positive                  293615
mental_health_impact            285418
travel_work_school              285425
self_isolating                  285426
media_channels                  288403
financial_obligations_impact    293189
tobacco_usage                   285427
dtype: int64

In [37]:
combined_schema_df.loc[combined_schema_df['week'].isna()] #weekwise null value

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
278571,NaN,M4P,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278572,NaN,M9P,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
278573,NaN,K0L,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278574,NaN,N9E,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278575,NaN,L2N,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,NaN,M6P,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,NaN,K1R,n,n,NaN,n,n,n,NaN,y,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,NaN,M4M,n,n,NaN,n,n,n,NaN,y,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,NaN,M6P,n,y,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,NaN,K2H,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [38]:
combined_schema_df[combined_schema_df.duplicated()] 3duplicated

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
86,13.0,M4L,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,13.0,L1M,n,y,n,n,n,n,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,14.0,L7E,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,13.0,L3C,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,13.0,L4C,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294089,NaN,L9W,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294092,NaN,M6P,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294095,NaN,M4E,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294099,NaN,L9W,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294100,NaN,M6P,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN