In [1]:
import numpy as np
import pandas as pd

In [30]:
covid_file1_df = pd.read_csv('Flatten_Covid19_Dataset/schema_1_ontario_final.csv')
covid_file1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263639 entries, 0 to 263638
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   week                    263639 non-null  int64
 1   fsa                     263639 non-null  object
 2   probable                263639 non-null  object
 3   vulnerable              263639 non-null  object
 4   is_most_recent          263639 non-null  object
 5   fever_chills_shakes     263639 non-null  object
 6   cough                   263639 non-null  object
 7   shortness_of_breath     263639 non-null  object
 8   over_60                 263639 non-null  object
 9   any_medical_conditions  263639 non-null  object
 10  travel_outside_canada   263639 non-null  object
 11  contact_with_illness    263639 non-null  object
dtypes: int64(1), object(11)
memory usage: 24.1+ MB

In [8]:
covid_file1_df.nunique()

week                        3
fsa                       516
probable                    2
vulnerable                  2
is_most_recent              2
fever_chills_shakes         2
cough                       2
shortness_of_breath         2
over_60                     2
any_medical_conditions      2
travel_outside_canada       2
contact_with_illness        2
dtype: int64

In [9]:
covid_file2_df = pd.read_csv('Flatten_Covid19_Dataset/schema_2_ontario_final.csv')
covid_file2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14932 entries, 0 to 14931
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   week                    14932 non-null  int64
 1   fsa                     14932 non-null  object
 2   probable                14932 non-null  object
 3   vulnerable              14932 non-null  object
 4   is_most_recent          14932 non-null  object
 5   fever_chills_shakes     14932 non-null  object
 6   cough                   14932 non-null  object
 7   shortness_of_breath     14932 non-null  object
 8   any_medical_conditions  14932 non-null  object
 9   travel_outside_canada   14932 non-null  object
 10  contact_with_illness    14932 non-null  object
 11  symptoms                1796 non-null   object
 12  conditions              4728 non-null   object
 13  ethnicity               7101 non-null   object
 14  sex                     14932 non-null  object
 15  needs                   7101 non-null   object
 16  age_1                   14932 non-null  object
dtypes: int64(1), object(16)
memory usage: 1.9+ MB

In [10]:
covid_file2_df.nunique()

week                        2
fsa                       309
probable                    2
vulnerable                  2
is_most_recent              2
fever_chills_shakes         2
cough                       2
shortness_of_breath         2
any_medical_conditions      1
travel_outside_canada       2
contact_with_illness        2
symptoms                  189
conditions                155
ethnicity                   7
sex                         3
needs                       5
age_1                       4
dtype: int64

In [11]:
covid_file3_df = pd.read_csv('Flatten_Covid19_Dataset/schema_3_ontario_final.csv')
covid_file3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15534 entries, 0 to 15533
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   month                         15534 non-null  object
 1   fsa                           15534 non-null  object
 2   probable                      15534 non-null  object
 3   vulnerable                    15534 non-null  object
 4   fever_chills_shakes           15534 non-null  object
 5   cough                         15534 non-null  object
 6   shortness_of_breath           15534 non-null  object
 7   any_medical_conditions        15534 non-null  object
 8   travel_outside_canada         15534 non-null  object
 9   contact_with_illness          15534 non-null  object
 10  contact_in_household          159 non-null    object
 11  tested                        15534 non-null  object
 12  covid_results_date            421 non-null    object
 13  covid_positive                490 non-null    object
 14  symptoms                      793 non-null    object
 15  conditions                    1429 non-null   object
 16  ethnicity                     298 non-null    object
 17  sex                           8682 non-null   object
 18  needs                         15534 non-null  object
 19  age_1                         15534 non-null  object
 20  mental_health_impact          8687 non-null   object
 21  travel_work_school            8680 non-null   object
 22  self_isolating                8679 non-null   object
 23  media_channels                5702 non-null   object
 24  financial_obligations_impact  916 non-null    object
 25  tobacco_usage                 8678 non-null   object
dtypes: object(26)
memory usage: 3.1+ MB

In [12]:
covid_file3_df.nunique()

month                              4
fsa                              309
probable                           2
vulnerable                         2
fever_chills_shakes                2
cough                              2
shortness_of_breath                2
any_medical_conditions             1
travel_outside_canada              2
contact_with_illness               2
contact_in_household               2
tested                             2
covid_results_date                 6
covid_positive                     3
symptoms                         358
conditions                       205
ethnicity                         62
sex                                3
needs                              6
age_1                              4
mental_health_impact               3
travel_work_school                 6
self_isolating                     2
media_channels                  1019
financial_obligations_impact     132
tobacco_usage                      3
dtype: int64

In [74]:
covid_file2_df.head(10)

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
5,15,M4S,n,n,y,n,n,n,y,n,n,soreThroat;runnyNose,NaN,NaN,f,NaN,45-64
6,16,L0L,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,financialSupport,45-64
7,15,L6Y,n,y,y,n,n,n,y,n,n,NaN,breathingProblems,NaN,na,NaN,<26
8,15,K2K,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,f,NaN,45-64
9,16,L6M,n,n,y,n,n,n,y,n,n,NaN,NaN,asian,m,food,26-44

In [15]:
covid_file3_df['mental_health_impact'].unique()# set nan to noImpact

array([nan, 'noImpact', 'negatively', 'positively'], dtype=object)

In [22]:
covid_file1_df[covid_file1_df['week']== 13]

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
3,13,N1G,n,n,y,n,n,n,n,n,n,n
4,13,M1P,n,y,n,n,n,n,n,y,n,n
7,13,L3R,n,y,y,n,n,n,y,n,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...
263623,13,L1S,n,n,y,n,n,n,n,n,n,n
263626,13,L0B,n,n,y,n,n,n,n,n,n,n
263628,13,L8P,n,n,y,n,n,n,n,n,n,n
263636,13,L3X,n,n,y,n,n,n,n,n,n,n
263638,13,M8V,y,y,y,n,n,n,y,n,y,y

In [58]:
covid_file2_df.isna()

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False
14928,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,False
14929,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
14930,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
14931,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False

In [78]:
# Captures the Most Up-to-Date Health Status
#including multiple responses from the same individual would:
#Violate independence assumptions
#Bias aggregate statistics
#Without filtering, frequent responders count multiple times
#This inflates symptoms, exposure, or vulnerability rates
#Results no longer represent the population accurately
"""
Filtering to the most recent response ensures one observation per participant, prevents over-representation bias, 
and reflects the most current health status—making the data suitable for population-level analysis.
"""
#covid_file1_df = covid_file1_df[covid_file1_df["is_most_recent"] == 'y']
covid_file2_df = covid_file2_df[covid_file2_df["is_most_recent"] == 'y']

In [79]:
covid_file2_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11723 entries, 0 to 14931
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   week                    11723 non-null  int64
 1   fsa                     11723 non-null  object
 2   probable                11723 non-null  object
 3   vulnerable              11723 non-null  object
 4   is_most_recent          11723 non-null  object
 5   fever_chills_shakes     11723 non-null  object
 6   cough                   11723 non-null  object
 7   shortness_of_breath     11723 non-null  object
 8   any_medical_conditions  11723 non-null  object
 9   travel_outside_canada   11723 non-null  object
 10  contact_with_illness    11723 non-null  object
 11  symptoms                1383 non-null   object
 12  conditions              3577 non-null   object
 13  ethnicity               5732 non-null   object
 14  sex                     11723 non-null  object
 15  needs                   5732 non-null   object
 16  age_1                   11723 non-null  object
dtypes: int64(1), object(16)
memory usage: 1.6+ MB

In [81]:
#Created date column from week for time based analysis 

covid_file1_df["iso_year"] = 2020
covid_file1_df["date_from_week"] = pd.to_datetime(
    covid_file1_df["iso_year"].astype(str)
    + "-W"
    + covid_file1_df["week"].astype(str).str.zfill(2)
    + "-1",
    format="%G-W%V-%u"
)
covid_file1_df

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness,iso_year,date_from_week
0,13,L4C,n,n,y,n,n,n,n,n,n,n,2020,2020-03-23
1,13,P1H,y,y,y,n,n,n,y,y,n,y,2020,2020-03-23
2,14,N2J,n,y,y,n,n,n,y,n,n,n,2020,2020-03-30
3,13,N1G,n,n,y,n,n,n,n,n,n,n,2020,2020-03-23
5,14,L3M,n,n,y,n,n,n,n,n,n,n,2020,2020-03-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,n,y,y,n,n,n,n,y,n,n,2020,2020-03-30
263635,14,M6P,n,y,y,n,n,n,n,y,n,n,2020,2020-03-30
263636,13,L3X,n,n,y,n,n,n,n,n,n,n,2020,2020-03-23
263637,14,M6R,n,n,y,n,n,n,n,n,n,n,2020,2020-03-30
263638,13,M8V,y,y,y,n,n,n,y,n,y,y,2020,2020-03-23

In [68]:
# Check if 'probable' is 'y' AND all specified columns are equal to 'n'
no_symptoms_cols = [
    "fever_chills_shakes", "cough", "shortness_of_breath", 
    "travel_outside_canada", "contact_with_illness"
]
#condition1 = covid_file1_df["probable"] == 'y'
is_no_symptoms = covid_file2_df[no_symptoms_cols].eq('n').all(axis=1)

filtered_df = covid_file2_df[(covid_file2_df["probable"] == 'y') & is_no_symptoms]
filtered_df

Empty DataFrame
Columns: [week, fsa, probable, vulnerable, is_most_recent, fever_chills_shakes, cough, shortness_of_breath, any_medical_conditions, travel_outside_canada, contact_with_illness, symptoms, conditions, ethnicity, sex, needs, age_1]
Index: []

In [72]:
covid_file2_df.isna().mean().sort_values(ascending=False)

symptoms                  0.879721
conditions                0.683365
needs                     0.524444
ethnicity                 0.524444
week                      0.000000
travel_outside_canada     0.000000
sex                       0.000000
contact_with_illness      0.000000
any_medical_conditions    0.000000
fsa                       0.000000
shortness_of_breath       0.000000
cough                     0.000000
fever_chills_shakes       0.000000
is_most_recent            0.000000
vulnerable                0.000000
probable                  0.000000
age_1                     0.000000
dtype: float64

In [ ]:
#covid_file2_df["symptoms"] = covid_file2_df["symptoms"].fillna("Unknown")
covid_file2_df["conditions"] = covid_file2_df["conditions"].fillna("Unknown")
covid_file2_df["needs"] = covid_file2_df["needs"].fillna("Unknown")
covid_file2_df["ethnicity"] = covid_file2_df["ethnicity"].fillna("Unknown")