In [70]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import os
os.getcwd()

'C:\\Users\\ajaya\\Documents\\GitHub\\Team8_PyMaster_PythonHackathon_December25\\Python_hackathon_questions'

In [71]:
schema_1 = pd.read_csv(r"C:\Users\ajaya\Desktop\NUMPYNINJA\HACKATHON\HACKATHON DETAILS\schema_1_ontario_final.csv")
schema_2 = pd.read_csv(r"C:\Users\ajaya\Desktop\NUMPYNINJA\HACKATHON\HACKATHON DETAILS\schema_2_ontario_final.csv")
schema_3 = pd.read_csv(r"C:\Users\ajaya\Desktop\NUMPYNINJA\HACKATHON\HACKATHON DETAILS\schema_3_ontario_final.csv")

In [142]:
schema_1 #Reading Schema 1 file

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
2,14,N2J,n,y,y,n,n,n,y,n,n,n
3,13,N1G,n,n,y,n,n,n,n,n,n,n
4,13,M1P,n,y,n,n,n,n,n,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,n,y,y,n,n,n,n,y,n,n
263635,14,M6P,n,y,y,n,n,n,n,y,n,n
263636,13,L3X,n,n,y,n,n,n,n,n,n,n
263637,14,M6R,n,n,y,n,n,n,n,n,n,n
263638,13,M8V,y,y,y,n,n,n,y,n,y,y

In [69]:
schema_1.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath', 'over_60',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness'],
      dtype='object')

In [143]:
schema_2#Reading Schema 2 file

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,15,L6B,n,y,y,n,n,n,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,15,L6J,n,n,y,n,n,n,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64
14929,16,N9V,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44
14930,16,L3Z,n,n,y,n,n,n,y,n,n,NaN,NaN,asian,m,other,26-44
14931,16,L6J,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44

In [71]:
schema_2.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'symptoms', 'conditions', 'ethnicity', 'sex',
       'needs', 'age_1'],
      dtype='object')

In [144]:
combined_df = pd.concat([schema_1, schema_2], ignore_index=True)#combinins schema 1 and 2
combined_df

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,13,L4C,n,n,y,n,n,n,n,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN
1,13,P1H,y,y,y,n,n,n,y,y,n,y,NaN,NaN,NaN,NaN,NaN,NaN
2,14,N2J,n,y,y,n,n,n,y,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN
3,13,N1G,n,n,y,n,n,n,n,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN
4,13,M1P,n,y,n,n,n,n,n,y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278566,15,L6B,n,y,y,n,n,n,NaN,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
278567,15,L6J,n,n,y,n,n,n,NaN,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64
278568,16,N9V,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,caucasian,m,other,26-44
278569,16,L3Z,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,asian,m,other,26-44
278570,16,L6J,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,caucasian,m,other,26-44

In [73]:
combined_df.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath', 'over_60',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'symptoms', 'conditions', 'ethnicity', 'sex',
       'needs', 'age_1'],
      dtype='object')

In [74]:
#week_to_month = {13: 'April', 14: 'April', 15: 'April', 16:'April'} #change weekwise into monthwise
#combined_df['month'] = combined_df['week'].map(week_to_month)

In [75]:
#combined_df

In [9]:
#combined_df = combined_df.drop(columns=['week'], errors='ignore')#dropping week

In [39]:
#combined_df #changed week into month and removed week column

In [145]:
schema_3#Reading schema 3

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,n,n,n,n,n,y,n,n,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
2,April,K0L,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,n,n,n,n,n,y,n,n,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,n,n,n,n,n,y,n,n,...,NaN,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,n,n,n,n,n,y,n,n,...,firstNations;black/african;caucasian,NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,n,y,n,n,n,y,n,n,...,NaN,m,noneOfTheAbove,>65,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
15533,July,K2H,n,n,n,n,n,y,n,n,...,NaN,f,noneOfTheAbove,45-64,negatively,stillTravelEssential,y,NaN,NaN,n

In [79]:
schema_3.columns

Index(['month', 'fsa', 'probable', 'vulnerable', 'fever_chills_shakes',
       'cough', 'shortness_of_breath', 'any_medical_conditions',
       'travel_outside_canada', 'contact_with_illness', 'contact_in_household',
       'tested', 'covid_results_date', 'covid_positive', 'symptoms',
       'conditions', 'ethnicity', 'sex', 'needs', 'age_1',
       'mental_health_impact', 'travel_work_school', 'self_isolating',
       'media_channels', 'financial_obligations_impact', 'tobacco_usage'],
      dtype='object')

In [146]:
final_df = pd.concat([combined_df, schema_3], ignore_index=True)#combining schema 3
final_df
#final_df['month']

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,13.0,L4C,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,y,y,y,n,n,n,y,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,n,y,y,n,n,n,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.0,M1P,n,y,n,n,n,n,n,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,NaN,M6P,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,NaN,K1R,n,n,NaN,n,n,n,NaN,y,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,NaN,M4M,n,n,NaN,n,n,n,NaN,y,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,NaN,M6P,n,y,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,NaN,K2H,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [147]:
# Create a dictionary for mapping weeks to months
week_map = {13: 'March', 14: 'April', 15: 'April', 16: 'April'}

# Apply the mapping to fill NaN values
final_df['month'] = final_df['month'].fillna(final_df['week'].map(week_map))
# Find the most common month (the mode)
most_common_month = final_df['month'].mode()[0]

# Fill NaNs with that value
final_df['month'] = final_df['month'].fillna(most_common_month)
#final_df['month']

In [148]:
final_df.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath', 'over_60',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'symptoms', 'conditions', 'ethnicity', 'sex',
       'needs', 'age_1', 'month', 'contact_in_household', 'tested',
       'covid_results_date', 'covid_positive', 'mental_health_impact',
       'travel_work_school', 'self_isolating', 'media_channels',
       'financial_obligations_impact', 'tobacco_usage'],
      dtype='object')

In [150]:
final_df['age_1'] = final_df['over_60'].map({'y': '>65', 'n': '<65'})
final_df = final_df.drop(columns=['over_60'])
final_df#after dropping over 60 column

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,13.0,L4C,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,y,y,y,n,n,n,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,n,y,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.0,M1P,n,y,n,n,n,n,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,NaN,M6P,n,n,NaN,n,n,n,y,n,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,NaN,K1R,n,n,NaN,n,n,n,y,n,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,NaN,M4M,n,n,NaN,n,n,n,y,n,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,NaN,M6P,n,y,NaN,n,n,n,y,n,...,NaN,n,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,NaN,K2H,n,n,NaN,n,n,n,y,n,...,NaN,n,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [152]:
binary_cols = [
    'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'contact_in_household',
       'tested', ]

for col in binary_cols:
    if col in final_df.columns:
      final_df[col] = final_df[col].map({'y': 1, 'n': 0}).fillna(0).astype(int)
final_df# changing y to '0" and N to 1

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,13.0,L4C,0,0,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,1,1,1,0,0,0,1,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,0,1,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,0,0,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.0,M1P,0,1,0,0,0,0,1,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,NaN,M6P,0,0,0,0,0,0,1,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,NaN,K1R,0,0,0,0,0,0,1,0,...,0,1,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,NaN,M4M,0,0,0,0,0,0,1,0,...,0,1,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,NaN,M6P,0,1,0,0,0,0,1,0,...,0,0,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,NaN,K2H,0,0,0,0,0,0,1,0,...,0,0,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [153]:
cols = ['month'] + [c for c in final_df.columns if c != 'month']
final_df = final_df[cols]
final_df #moving month to front

,month,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,March,13.0,L4C,0,0,1,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,March,13.0,P1H,1,1,1,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,April,14.0,N2J,0,1,1,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,March,13.0,N1G,0,0,1,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,March,13.0,M1P,0,1,0,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,NaN,M6P,0,0,0,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,July,NaN,K1R,0,0,0,0,0,0,1,...,0,1,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,July,NaN,M4M,0,0,0,0,0,0,1,...,0,1,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,July,NaN,M6P,0,1,0,0,0,0,1,...,0,0,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,July,NaN,K2H,0,0,0,0,0,0,1,...,0,0,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [156]:
final_df.isnull().sum()
#print(final_df[['month', 'age_1', 'cough', 'ethnicity']].isnull().sum())

month                               0
week                            15534
fsa                                 0
probable                            0
vulnerable                          0
is_most_recent                      0
fever_chills_shakes                 0
cough                               0
shortness_of_breath                 0
any_medical_conditions              0
travel_outside_canada               0
contact_with_illness                0
symptoms                            0
conditions                          0
ethnicity                           0
sex                                 0
needs                               0
age_1                               0
contact_in_household                0
tested                              0
covid_results_date                  0
covid_positive                      0
mental_health_impact                0
travel_work_school                  0
self_isolating                      0
media_channels                      0
financial_obligations_impact        0
tobacco_usage                       0
dtype: int64

In [157]:
# 1. Define groups for different filling strategies
none_fill_cols = [
    'needs', 'mental_health_impact', 'travel_work_school', 
    'self_isolating', 'media_channels', 'financial_obligations_impact', 
    'tobacco_usage'
]

unknown_fill_cols = ['sex', 'age_1']

# 2. Apply the fills
# Fill behavioral/impact columns with 'none'
for col in none_fill_cols:
    if col in final_df.columns:
      final_df[col] = final_df[col].fillna('none')

#3. Fill demographic columns with 'unknown'
for col in unknown_fill_cols:
    if col in final_df.columns:
       final_df[col] = final_df[col].fillna('unknown')

#4.Replace NaN with a label (recommended for reporting)
final_df['covid_results_date'] = final_df['covid_results_date'].fillna('Not Available')

#5. Replace Nan with a label 'Non Tested'
final_df['covid_positive'] = final_df['covid_positive'].fillna('Not Tested')
text_cols = ['symptoms', 'conditions', 'ethnicity', 'needs']

#6.Fill NaNs with 'none' to represent a negative or neutral response
for col in text_cols:
    if col in final_df.columns:
       final_df[col] = final_df[col].fillna('none')
final_df

,month,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,March,13.0,L4C,0,0,1,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
1,March,13.0,P1H,1,1,1,0,0,0,1,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
2,April,14.0,N2J,0,1,1,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
3,March,13.0,N1G,0,0,1,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
4,March,13.0,M1P,0,1,0,0,0,0,1,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,NaN,M6P,0,0,0,0,0,0,1,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
294101,July,NaN,K1R,0,0,0,0,0,0,1,...,0,1,July,negatively,none,none,none,none,none,none
294102,July,NaN,M4M,0,0,0,0,0,0,1,...,0,1,July,negatively,none,none,none,none,none,none
294103,July,NaN,M6P,0,1,0,0,0,0,1,...,0,0,Not Available,Not Tested,noImpact,didntTravelBefore,n,newspaper;radio,none,n
294104,July,NaN,K2H,0,0,0,0,0,0,1,...,0,0,Not Available,Not Tested,negatively,stillTravelEssential,y,none,none,n

In [158]:
final_df.isnull().sum()

month                               0
week                            15534
fsa                                 0
probable                            0
vulnerable                          0
is_most_recent                      0
fever_chills_shakes                 0
cough                               0
shortness_of_breath                 0
any_medical_conditions              0
travel_outside_canada               0
contact_with_illness                0
symptoms                            0
conditions                          0
ethnicity                           0
sex                                 0
needs                               0
age_1                               0
contact_in_household                0
tested                              0
covid_results_date                  0
covid_positive                      0
mental_health_impact                0
travel_work_school                  0
self_isolating                      0
media_channels                      0
financial_obligations_impact        0
tobacco_usage                       0
dtype: int64

In [159]:
final_df.drop('week', axis=1, inplace=True)#dropping week
final_df#after replacing NaN values

,month,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,March,L4C,0,0,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
1,March,P1H,1,1,1,0,0,0,1,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
2,April,N2J,0,1,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
3,March,N1G,0,0,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
4,March,M1P,0,1,0,0,0,0,1,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,M6P,0,0,0,0,0,0,1,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
294101,July,K1R,0,0,0,0,0,0,1,0,...,0,1,July,negatively,none,none,none,none,none,none
294102,July,M4M,0,0,0,0,0,0,1,0,...,0,1,July,negatively,none,none,none,none,none,none
294103,July,M6P,0,1,0,0,0,0,1,0,...,0,0,Not Available,Not Tested,noImpact,didntTravelBefore,n,newspaper;radio,none,n
294104,July,K2H,0,0,0,0,0,0,1,0,...,0,0,Not Available,Not Tested,negatively,stillTravelEssential,y,none,none,n

In [161]:
#A composite symptom variable was created by combining fever/chills, cough, and shortness of breath to indicate overall symptom presence.

# fill NaN values with 0
final_df[['fever_chills_shakes', 'cough', 'shortness_of_breath']] = (
    final_df[['fever_chills_shakes', 'cough', 'shortness_of_breath']].fillna(0)
)

# create combined symptom column
final_df['symptom_cols'] = (
    final_df['fever_chills_shakes'] +
    final_df['cough'] +
    final_df['shortness_of_breath']
)

# convert to binary (1 = has symptoms, 0 = no symptoms)
final_df['symptom_cols'] = (final_df['symptom_cols'] > 0).astype(int)
final_df 
#Treats missing values as no symptom

#Adds the three symptom columns together

#Creates one combined column:

#1 → at least one symptom

#0 → no symptoms

,month,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,...,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage,symptom_cols
0,March,L4C,0,0,1,0,0,0,0,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
1,March,P1H,1,1,1,0,0,0,1,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
2,April,N2J,0,1,1,0,0,0,0,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
3,March,N1G,0,0,1,0,0,0,0,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
4,March,M1P,0,1,0,0,0,0,1,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,M6P,0,0,0,0,0,0,1,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
294101,July,K1R,0,0,0,0,0,0,1,0,...,1,July,negatively,none,none,none,none,none,none,0
294102,July,M4M,0,0,0,0,0,0,1,0,...,1,July,negatively,none,none,none,none,none,none,0
294103,July,M6P,0,1,0,0,0,0,1,0,...,0,Not Available,Not Tested,noImpact,didntTravelBefore,n,newspaper;radio,none,n,0
294104,July,K2H,0,0,0,0,0,0,1,0,...,0,Not Available,Not Tested,negatively,stillTravelEssential,y,none,none,n,0

In [162]:
value = final_df.iloc[83, 7]
print(value)
print(final_df.columns[7])  # shows the name of the 8th column

1
shortness_of_breath

In [163]:
# column to move
col_to_move = 'symptom_cols'

# list all columns
cols = [c for c in final_df.columns if c != col_to_move]

# insert the column at index 5 (6th position, 0-based indexing)
cols.insert(5, col_to_move)

# reorder the DataFrame
final_df = final_df[cols]

final_df  # 'symptom_cols' is now the 6th column

,month,fsa,probable,vulnerable,is_most_recent,symptom_cols,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,March,L4C,0,0,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
1,March,P1H,1,1,1,0,0,0,0,1,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
2,April,N2J,0,1,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
3,March,N1G,0,0,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
4,March,M1P,0,1,0,0,0,0,0,1,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,M6P,0,0,0,0,0,0,0,1,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
294101,July,K1R,0,0,0,0,0,0,0,1,...,0,1,July,negatively,none,none,none,none,none,none
294102,July,M4M,0,0,0,0,0,0,0,1,...,0,1,July,negatively,none,none,none,none,none,none
294103,July,M6P,0,1,0,0,0,0,0,1,...,0,0,Not Available,Not Tested,noImpact,didntTravelBefore,n,newspaper;radio,none,n
294104,July,K2H,0,0,0,0,0,0,0,1,...,0,0,Not Available,Not Tested,negatively,stillTravelEssential,y,none,none,n

In [165]:
#Replacing 'fever_chills_shakes,cough,shortness_of_breath' with 'symptom_cols'
#Drop columns and create a new DataFrame
final_df_new = final_df.drop(['fever_chills_shakes', 'cough', 'shortness_of_breath'], axis=1)
final_df_new

,month,fsa,probable,vulnerable,is_most_recent,symptom_cols,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,March,L4C,0,0,1,0,0,0,0,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
1,March,P1H,1,1,1,0,1,0,1,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
2,April,N2J,0,1,1,0,0,0,0,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
3,March,N1G,0,0,1,0,0,0,0,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
4,March,M1P,0,1,0,0,1,0,0,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,M6P,0,0,0,0,1,0,0,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
294101,July,K1R,0,0,0,0,1,0,0,none,...,0,1,July,negatively,none,none,none,none,none,none
294102,July,M4M,0,0,0,0,1,0,0,none,...,0,1,July,negatively,none,none,none,none,none,none
294103,July,M6P,0,1,0,0,1,0,0,none,...,0,0,Not Available,Not Tested,noImpact,didntTravelBefore,n,newspaper;radio,none,n
294104,July,K2H,0,0,0,0,1,0,0,none,...,0,0,Not Available,Not Tested,negatively,stillTravelEssential,y,none,none,n