In [66]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import os
os.getcwd()

'C:\\Users\\ajaya\\Documents\\GitHub\\Team8_PyMaster_PythonHackathon_December25'

In [67]:
schema_1 = pd.read_csv(r"C:\Users\ajaya\Desktop\NUMPYNINJA\HACKATHON\HACKATHON DETAILS\schema_1_ontario_final.csv")
schema_2 = pd.read_csv(r"C:\Users\ajaya\Desktop\NUMPYNINJA\HACKATHON\HACKATHON DETAILS\schema_2_ontario_final.csv")
schema_3 = pd.read_csv(r"C:\Users\ajaya\Desktop\NUMPYNINJA\HACKATHON\HACKATHON DETAILS\schema_3_ontario_final.csv")

In [68]:
schema_1 #Reading Schema 1 file

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
2,14,N2J,n,y,y,n,n,n,y,n,n,n
3,13,N1G,n,n,y,n,n,n,n,n,n,n
4,13,M1P,n,y,n,n,n,n,n,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,n,y,y,n,n,n,n,y,n,n
263635,14,M6P,n,y,y,n,n,n,n,y,n,n
263636,13,L3X,n,n,y,n,n,n,n,n,n,n
263637,14,M6R,n,n,y,n,n,n,n,n,n,n
263638,13,M8V,y,y,y,n,n,n,y,n,y,y

In [69]:
schema_1.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath', 'over_60',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness'],
      dtype='object')

In [70]:
schema_2#Reading Schema 2 file

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,15,L6B,n,y,y,n,n,n,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,15,L6J,n,n,y,n,n,n,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64
14929,16,N9V,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44
14930,16,L3Z,n,n,y,n,n,n,y,n,n,NaN,NaN,asian,m,other,26-44
14931,16,L6J,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44

In [71]:
schema_2.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'symptoms', 'conditions', 'ethnicity', 'sex',
       'needs', 'age_1'],
      dtype='object')

In [72]:
combined_df = pd.concat([schema_1, schema_2], ignore_index=True)#combinins schema 1 and 2
combined_df

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,13,L4C,n,n,y,n,n,n,n,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN
1,13,P1H,y,y,y,n,n,n,y,y,n,y,NaN,NaN,NaN,NaN,NaN,NaN
2,14,N2J,n,y,y,n,n,n,y,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN
3,13,N1G,n,n,y,n,n,n,n,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN
4,13,M1P,n,y,n,n,n,n,n,y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278566,15,L6B,n,y,y,n,n,n,NaN,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
278567,15,L6J,n,n,y,n,n,n,NaN,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64
278568,16,N9V,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,caucasian,m,other,26-44
278569,16,L3Z,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,asian,m,other,26-44
278570,16,L6J,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,caucasian,m,other,26-44

In [73]:
combined_df.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath', 'over_60',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'symptoms', 'conditions', 'ethnicity', 'sex',
       'needs', 'age_1'],
      dtype='object')

In [74]:
week_to_month = {13: 'April', 14: 'April', 15: 'April', 16:'April'} #change weekwise into monthwise
combined_df['month'] = combined_df['week'].map(week_to_month)

In [75]:
combined_df

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1,month
0,13,L4C,n,n,y,n,n,n,n,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN,April
1,13,P1H,y,y,y,n,n,n,y,y,n,y,NaN,NaN,NaN,NaN,NaN,NaN,April
2,14,N2J,n,y,y,n,n,n,y,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN,April
3,13,N1G,n,n,y,n,n,n,n,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN,April
4,13,M1P,n,y,n,n,n,n,n,y,n,n,NaN,NaN,NaN,NaN,NaN,NaN,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278566,15,L6B,n,y,y,n,n,n,NaN,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44,April
278567,15,L6J,n,n,y,n,n,n,NaN,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64,April
278568,16,N9V,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,caucasian,m,other,26-44,April
278569,16,L3Z,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,asian,m,other,26-44,April
278570,16,L6J,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,caucasian,m,other,26-44,April

In [76]:
combined_df = combined_df.drop(columns=['week'], errors='ignore')#dropping week

In [77]:
combined_df #changed week into month and removed week column

,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1,month
0,L4C,n,n,y,n,n,n,n,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN,April
1,P1H,y,y,y,n,n,n,y,y,n,y,NaN,NaN,NaN,NaN,NaN,NaN,April
2,N2J,n,y,y,n,n,n,y,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN,April
3,N1G,n,n,y,n,n,n,n,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN,April
4,M1P,n,y,n,n,n,n,n,y,n,n,NaN,NaN,NaN,NaN,NaN,NaN,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278566,L6B,n,y,y,n,n,n,NaN,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44,April
278567,L6J,n,n,y,n,n,n,NaN,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64,April
278568,N9V,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,caucasian,m,other,26-44,April
278569,L3Z,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,asian,m,other,26-44,April
278570,L6J,n,n,y,n,n,n,NaN,y,n,n,NaN,NaN,caucasian,m,other,26-44,April

In [78]:
schema_3#Reading schema 3

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,n,n,n,n,n,y,n,n,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
2,April,K0L,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,n,n,n,n,n,y,n,n,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,n,n,n,n,n,y,n,n,...,NaN,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,n,n,n,n,n,y,n,n,...,firstNations;black/african;caucasian,NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,n,y,n,n,n,y,n,n,...,NaN,m,noneOfTheAbove,>65,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
15533,July,K2H,n,n,n,n,n,y,n,n,...,NaN,f,noneOfTheAbove,45-64,negatively,stillTravelEssential,y,NaN,NaN,n

In [79]:
schema_3.columns

Index(['month', 'fsa', 'probable', 'vulnerable', 'fever_chills_shakes',
       'cough', 'shortness_of_breath', 'any_medical_conditions',
       'travel_outside_canada', 'contact_with_illness', 'contact_in_household',
       'tested', 'covid_results_date', 'covid_positive', 'symptoms',
       'conditions', 'ethnicity', 'sex', 'needs', 'age_1',
       'mental_health_impact', 'travel_work_school', 'self_isolating',
       'media_channels', 'financial_obligations_impact', 'tobacco_usage'],
      dtype='object')

In [80]:
final_df = pd.concat([combined_df, schema_3], ignore_index=True)#combining schema 3
final_df

,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,L4C,n,n,y,n,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P1H,y,y,y,n,n,n,y,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N2J,n,y,y,n,n,n,y,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N1G,n,n,y,n,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M1P,n,y,n,n,n,n,n,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,M6P,n,n,NaN,n,n,n,NaN,y,n,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,K1R,n,n,NaN,n,n,n,NaN,y,n,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,M4M,n,n,NaN,n,n,n,NaN,y,n,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,M6P,n,y,NaN,n,n,n,NaN,y,n,...,NaN,n,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,K2H,n,n,NaN,n,n,n,NaN,y,n,...,NaN,n,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [81]:
final_df.columns

Index(['fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath', 'over_60',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'symptoms', 'conditions', 'ethnicity', 'sex',
       'needs', 'age_1', 'month', 'contact_in_household', 'tested',
       'covid_results_date', 'covid_positive', 'mental_health_impact',
       'travel_work_school', 'self_isolating', 'media_channels',
       'financial_obligations_impact', 'tobacco_usage'],
      dtype='object')

In [82]:
final_df['age_1'] = final_df['over_60'].map({'y': '>65', 'n': '<65'})

In [83]:
final_df = final_df.drop(columns=['over_60'])

In [84]:
final_df#after dropping over 60 column

,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,L4C,n,n,y,n,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P1H,y,y,y,n,n,n,y,n,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N2J,n,y,y,n,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N1G,n,n,y,n,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M1P,n,y,n,n,n,n,y,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,M6P,n,n,NaN,n,n,n,y,n,n,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,K1R,n,n,NaN,n,n,n,y,n,n,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,M4M,n,n,NaN,n,n,n,y,n,n,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,M6P,n,y,NaN,n,n,n,y,n,n,...,NaN,n,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,K2H,n,n,NaN,n,n,n,y,n,n,...,NaN,n,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [85]:
binary_cols = [
    'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'contact_in_household',
       'tested', ]

for col in binary_cols:
    if col in final_df.columns:
      final_df[col] = final_df[col].map({'y': 1, 'n': 0}).fillna(0).astype(int)

In [86]:
   final_df# changing y to '0" and N to 1

,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,L4C,0,0,1,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P1H,1,1,1,0,0,0,1,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N2J,0,1,1,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N1G,0,0,1,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M1P,0,1,0,0,0,0,1,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,M6P,0,0,0,0,0,0,1,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,K1R,0,0,0,0,0,0,1,0,0,...,0,1,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,M4M,0,0,0,0,0,0,1,0,0,...,0,1,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,M6P,0,1,0,0,0,0,1,0,0,...,0,0,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,K2H,0,0,0,0,0,0,1,0,0,...,0,0,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [87]:
cols = ['month'] + [c for c in final_df.columns if c != 'month']
final_df = final_df[cols]
final_df #moving month to front

,month,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,L4C,0,0,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,April,P1H,1,1,1,0,0,0,1,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,April,N2J,0,1,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N1G,0,0,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,April,M1P,0,1,0,0,0,0,1,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,M6P,0,0,0,0,0,0,1,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,July,K1R,0,0,0,0,0,0,1,0,...,0,1,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,July,M4M,0,0,0,0,0,0,1,0,...,0,1,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,July,M6P,0,1,0,0,0,0,1,0,...,0,0,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,July,K2H,0,0,0,0,0,0,1,0,...,0,0,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [88]:
text_cols = ['symptoms', 'conditions', 'ethnicity', 'needs']

# Fill NaNs with 'none' to represent a negative or neutral response
for col in text_cols:
    if col in final_df.columns:
       final_df[col] = final_df[col].fillna('none')

In [89]:
final_df["symptoms"]

0         none
1         none
2         none
3         none
4         none
          ...
294100    none
294101    none
294102    none
294103    none
294104    none
Name: symptoms, Length: 294105, dtype: object

In [90]:
final_df.isnull().sum()

month                                0
fsa                                  0
probable                             0
vulnerable                           0
is_most_recent                       0
fever_chills_shakes                  0
cough                                0
shortness_of_breath                  0
any_medical_conditions               0
travel_outside_canada                0
contact_with_illness                 0
symptoms                             0
conditions                           0
ethnicity                            0
sex                             270491
needs                                0
age_1                            30466
contact_in_household                 0
tested                               0
covid_results_date              293684
covid_positive                  293615
mental_health_impact            285418
travel_work_school              285425
self_isolating                  285426
media_channels                  288403
financial_obligations_impact    293189
tobacco_usage                   285427
dtype: int64

In [91]:
print(final_df[['month', 'age_1', 'cough', 'ethnicity']].isnull().sum())

month            0
age_1        30466
cough            0
ethnicity        0
dtype: int64

In [92]:
# 1. Define groups for different filling strategies
none_fill_cols = [
    'needs', 'mental_health_impact', 'travel_work_school', 
    'self_isolating', 'media_channels', 'financial_obligations_impact', 
    'tobacco_usage'
]

unknown_fill_cols = ['sex', 'age_1']

# 2. Apply the fills
# Fill behavioral/impact columns with 'none'
for col in none_fill_cols:
    if col in final_df.columns:
      final_df[col] = final_df[col].fillna('none')

# Fill demographic columns with 'unknown'
for col in unknown_fill_cols:
    if col in final_df.columns:
       final_df[col] = final_df[col].fillna('unknown')

#3.Replace NaN with a label (recommended for reporting)
final_df['covid_results_date'] = final_df['covid_results_date'].fillna('Not Available')

#4. Replace Nan with a label 'Non Tested'
final_df['covid_positive'] = final_df['covid_positive'].fillna('Not Tested')

In [93]:
final_df.isnull().sum()

month                           0
fsa                             0
probable                        0
vulnerable                      0
is_most_recent                  0
fever_chills_shakes             0
cough                           0
shortness_of_breath             0
any_medical_conditions          0
travel_outside_canada           0
contact_with_illness            0
symptoms                        0
conditions                      0
ethnicity                       0
sex                             0
needs                           0
age_1                           0
contact_in_household            0
tested                          0
covid_results_date              0
covid_positive                  0
mental_health_impact            0
travel_work_school              0
self_isolating                  0
media_channels                  0
financial_obligations_impact    0
tobacco_usage                   0
dtype: int64

In [94]:
final_df#after replacing NaN values

,month,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,L4C,0,0,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
1,April,P1H,1,1,1,0,0,0,1,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
2,April,N2J,0,1,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
3,April,N1G,0,0,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
4,April,M1P,0,1,0,0,0,0,1,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,M6P,0,0,0,0,0,0,1,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
294101,July,K1R,0,0,0,0,0,0,1,0,...,0,1,July,negatively,none,none,none,none,none,none
294102,July,M4M,0,0,0,0,0,0,1,0,...,0,1,July,negatively,none,none,none,none,none,none
294103,July,M6P,0,1,0,0,0,0,1,0,...,0,0,Not Available,Not Tested,noImpact,didntTravelBefore,n,newspaper;radio,none,n
294104,July,K2H,0,0,0,0,0,0,1,0,...,0,0,Not Available,Not Tested,negatively,stillTravelEssential,y,none,none,n

In [97]:
#A composite symptom variable was created by combining fever/chills, cough, and shortness of breath to indicate overall symptom presence.

# fill NaN values with 0
final_df[['fever_chills_shakes', 'cough', 'shortness_of_breath']] = (
    final_df[['fever_chills_shakes', 'cough', 'shortness_of_breath']].fillna(0)
)

# create combined symptom column
final_df['symptom_cols'] = (
    final_df['fever_chills_shakes'] +
    final_df['cough'] +
    final_df['shortness_of_breath']
)

# convert to binary (1 = has symptoms, 0 = no symptoms)
final_df['symptom_cols'] = (final_df['symptom_cols'] > 0).astype(int)

#Treats missing values as no symptom

#Adds the three symptom columns together

#Creates one combined column:

#1 → at least one symptom

#0 → no symptoms

In [98]:
final_df

,month,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,...,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage,symptom_cols
0,April,L4C,0,0,1,0,0,0,0,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
1,April,P1H,1,1,1,0,0,0,1,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
2,April,N2J,0,1,1,0,0,0,0,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
3,April,N1G,0,0,1,0,0,0,0,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
4,April,M1P,0,1,0,0,0,0,1,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,M6P,0,0,0,0,0,0,1,0,...,0,Not Available,Not Tested,none,none,none,none,none,none,0
294101,July,K1R,0,0,0,0,0,0,1,0,...,1,July,negatively,none,none,none,none,none,none,0
294102,July,M4M,0,0,0,0,0,0,1,0,...,1,July,negatively,none,none,none,none,none,none,0
294103,July,M6P,0,1,0,0,0,0,1,0,...,0,Not Available,Not Tested,noImpact,didntTravelBefore,n,newspaper;radio,none,n,0
294104,July,K2H,0,0,0,0,0,0,1,0,...,0,Not Available,Not Tested,negatively,stillTravelEssential,y,none,none,n,0

In [100]:
value = final_df.iloc[83, 7]
print(value)
print(final_df.columns[7])  # shows the name of the 8th colum

1
shortness_of_breath

In [109]:
# column to move
col_to_move = 'symptom_cols'

# list all columns
cols = [c for c in final_df.columns if c != col_to_move]

# insert the column at index 5 (6th position, 0-based indexing)
cols.insert(5, col_to_move)

# reorder the DataFrame
final_df = final_df[cols]

final_df  # 'symptom_cols' is now the 6th column

,month,fsa,probable,vulnerable,is_most_recent,symptom_cols,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,L4C,0,0,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
1,April,P1H,1,1,1,0,0,0,0,1,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
2,April,N2J,0,1,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
3,April,N1G,0,0,1,0,0,0,0,0,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
4,April,M1P,0,1,0,0,0,0,0,1,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,M6P,0,0,0,0,0,0,0,1,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
294101,July,K1R,0,0,0,0,0,0,0,1,...,0,1,July,negatively,none,none,none,none,none,none
294102,July,M4M,0,0,0,0,0,0,0,1,...,0,1,July,negatively,none,none,none,none,none,none
294103,July,M6P,0,1,0,0,0,0,0,1,...,0,0,Not Available,Not Tested,noImpact,didntTravelBefore,n,newspaper;radio,none,n
294104,July,K2H,0,0,0,0,0,0,0,1,...,0,0,Not Available,Not Tested,negatively,stillTravelEssential,y,none,none,n

In [110]:
#Replacing 'fever_chills_shakes,cough,shortness_of_breath' with 'symptom_cols'
#Drop columns and create a new DataFrame
final_df_new = final_df.drop(['fever_chills_shakes', 'cough', 'shortness_of_breath'], axis=1)

In [111]:
final_df_new

,month,fsa,probable,vulnerable,is_most_recent,symptom_cols,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,L4C,0,0,1,0,0,0,0,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
1,April,P1H,1,1,1,0,1,0,1,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
2,April,N2J,0,1,1,0,0,0,0,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
3,April,N1G,0,0,1,0,0,0,0,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
4,April,M1P,0,1,0,0,1,0,0,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,July,M6P,0,0,0,0,1,0,0,none,...,0,0,Not Available,Not Tested,none,none,none,none,none,none
294101,July,K1R,0,0,0,0,1,0,0,none,...,0,1,July,negatively,none,none,none,none,none,none
294102,July,M4M,0,0,0,0,1,0,0,none,...,0,1,July,negatively,none,none,none,none,none,none
294103,July,M6P,0,1,0,0,1,0,0,none,...,0,0,Not Available,Not Tested,noImpact,didntTravelBefore,n,newspaper;radio,none,n
294104,July,K2H,0,0,0,0,1,0,0,none,...,0,0,Not Available,Not Tested,negatively,stillTravelEssential,y,none,none,n