### Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv("schema_1_ontario_final.csv")

In [3]:
df1

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
2,14,N2J,n,y,y,n,n,n,y,n,n,n
3,13,N1G,n,n,y,n,n,n,n,n,n,n
4,13,M1P,n,y,n,n,n,n,n,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,n,y,y,n,n,n,n,y,n,n
263635,14,M6P,n,y,y,n,n,n,n,y,n,n
263636,13,L3X,n,n,y,n,n,n,n,n,n,n
263637,14,M6R,n,n,y,n,n,n,n,n,n,n
263638,13,M8V,y,y,y,n,n,n,y,n,y,y

In [4]:
df2=pd.read_csv("schema_2_ontario_final.csv")

In [5]:
df2

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,15,L6B,n,y,y,n,n,n,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,15,L6J,n,n,y,n,n,n,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64
14929,16,N9V,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44
14930,16,L3Z,n,n,y,n,n,n,y,n,n,NaN,NaN,asian,m,other,26-44
14931,16,L6J,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44

In [6]:
df3=pd.read_csv("schema_3_ontario_final.csv")

In [7]:
df3

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,n,n,n,n,n,y,n,n,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
2,April,K0L,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,n,n,n,n,n,y,n,n,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,n,n,n,n,n,y,n,n,...,NaN,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,n,n,n,n,n,y,n,n,...,firstNations;black/african;caucasian,NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,n,y,n,n,n,y,n,n,...,NaN,m,noneOfTheAbove,>65,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
15533,July,K2H,n,n,n,n,n,y,n,n,...,NaN,f,noneOfTheAbove,45-64,negatively,stillTravelEssential,y,NaN,NaN,n

df_temp = df1.merge(df2,
                   how = 'outer')

In [8]:
df1

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
2,14,N2J,n,y,y,n,n,n,y,n,n,n
3,13,N1G,n,n,y,n,n,n,n,n,n,n
4,13,M1P,n,y,n,n,n,n,n,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,n,y,y,n,n,n,n,y,n,n
263635,14,M6P,n,y,y,n,n,n,n,y,n,n
263636,13,L3X,n,n,y,n,n,n,n,n,n,n
263637,14,M6R,n,n,y,n,n,n,n,n,n,n
263638,13,M8V,y,y,y,n,n,n,y,n,y,y

In [9]:
df1.week.unique()

array([13, 14, 15])

#### DEDUPLICATION
##### Keep only the latest record per session to prevent double-counting individuals
##### The y row is the "Truth," and the n rows are the "Drafts" in is_most_recent
##### If you keep only y: You count one person with a heart condition. This is the truth—the most accurate snapshot of that person's health. If you keep both: You count two people. One is healthy; one has a heart condition. This is a lie; there is only one person.

In [10]:
df1_clean = df1[df1['is_most_recent'] == 'y'].copy()

In [11]:
df1_clean

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
2,14,N2J,n,y,y,n,n,n,y,n,n,n
3,13,N1G,n,n,y,n,n,n,n,n,n,n
5,14,L3M,n,n,y,n,n,n,n,n,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,n,y,y,n,n,n,n,y,n,n
263635,14,M6P,n,y,y,n,n,n,n,y,n,n
263636,13,L3X,n,n,y,n,n,n,n,n,n,n
263637,14,M6R,n,n,y,n,n,n,n,n,n,n
263638,13,M8V,y,y,y,n,n,n,y,n,y,y

#### STEP 2: TEMPORAL MAPPING
##### Weeks 13, 14, and 15 in this dataset correspond to 'April'

In [12]:
week_to_month = {13: 'April', 14: 'April', 15: 'April'}
df1_clean['month'] = df1_clean['week'].map(week_to_month)

In [13]:
df1_clean = df1_clean.drop(columns=['week'])

In [14]:
df1_clean

,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness,month
0,L4C,n,n,y,n,n,n,n,n,n,n,April
1,P1H,y,y,y,n,n,n,y,y,n,y,April
2,N2J,n,y,y,n,n,n,y,n,n,n,April
3,N1G,n,n,y,n,n,n,n,n,n,n,April
5,L3M,n,n,y,n,n,n,n,n,n,n,April
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,N0G,n,y,y,n,n,n,n,y,n,n,April
263635,M6P,n,y,y,n,n,n,n,y,n,n,April
263636,L3X,n,n,y,n,n,n,n,n,n,n,April
263637,M6R,n,n,y,n,n,n,n,n,n,n,April
263638,M8V,y,y,y,n,n,n,y,n,y,y,April

#### STEP 3: AGE NORMALIZATION ---
##### Map S1 'over_60' to the 'age_1' categories used in Schema 3 dataset
##### Dataset Schema 2 & 3 are more detailed: They use specific brackets like 26-44, 45-64, and >65 So changed the over_60 column

In [15]:
df1_clean['age_1'] = df1_clean['over_60'].map({'y': '>65', 'n': '<65'})

In [16]:
df1_clean = df1_clean.drop(columns=['over_60'])

In [17]:
df1_clean

,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,month,age_1
0,L4C,n,n,y,n,n,n,n,n,n,April,<65
1,P1H,y,y,y,n,n,n,y,n,y,April,>65
2,N2J,n,y,y,n,n,n,n,n,n,April,>65
3,N1G,n,n,y,n,n,n,n,n,n,April,<65
5,L3M,n,n,y,n,n,n,n,n,n,April,<65
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,N0G,n,y,y,n,n,n,y,n,n,April,<65
263635,M6P,n,y,y,n,n,n,y,n,n,April,<65
263636,L3X,n,n,y,n,n,n,n,n,n,April,<65
263637,M6R,n,n,y,n,n,n,n,n,n,April,<65
263638,M8V,y,y,y,n,n,n,n,y,y,April,>65

#### STEP 4: BINARY STANDARDIZATION
##### Convert 'y'/'n' strings to 1/0 integers for health and exposure flags as you can’t do math on letters, Computers process numbers faster than text, machine learning compatibility

In [18]:
binary_cols = [
    'probable', 'vulnerable', 'fever_chills_shakes', 
    'cough', 'shortness_of_breath', 'any_medical_conditions', 
    'travel_outside_canada', 'contact_with_illness', 'is_most_recent'
]

for col in binary_cols:
    if col in df1_clean.columns:
        df1_clean[col] = df1_clean[col].map({'y': 1, 'n': 0}).fillna(0).astype(int)

In [19]:
df1_clean

,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,month,age_1
0,L4C,0,0,1,0,0,0,0,0,0,April,<65
1,P1H,1,1,1,0,0,0,1,0,1,April,>65
2,N2J,0,1,1,0,0,0,0,0,0,April,>65
3,N1G,0,0,1,0,0,0,0,0,0,April,<65
5,L3M,0,0,1,0,0,0,0,0,0,April,<65
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,N0G,0,1,1,0,0,0,1,0,0,April,<65
263635,M6P,0,1,1,0,0,0,1,0,0,April,<65
263636,L3X,0,0,1,0,0,0,0,0,0,April,<65
263637,M6R,0,0,1,0,0,0,0,0,0,April,<65
263638,M8V,1,1,1,0,0,0,0,1,1,April,>65

#### STEP 5: FINAL REFINEMENT
##### Drop 'week' and 'over 60' columns that are now redundant and reorder 'month' to the front

In [20]:
cols = ['month'] + [c for c in df1_clean.columns if c != 'month']
df1_clean = df1_clean[cols]

In [21]:
df1_clean

,month,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,age_1
0,April,L4C,0,0,1,0,0,0,0,0,0,<65
1,April,P1H,1,1,1,0,0,0,1,0,1,>65
2,April,N2J,0,1,1,0,0,0,0,0,0,>65
3,April,N1G,0,0,1,0,0,0,0,0,0,<65
5,April,L3M,0,0,1,0,0,0,0,0,0,<65
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,April,N0G,0,1,1,0,0,0,1,0,0,<65
263635,April,M6P,0,1,1,0,0,0,1,0,0,<65
263636,April,L3X,0,0,1,0,0,0,0,0,0,<65
263637,April,M6R,0,0,1,0,0,0,0,0,0,<65
263638,April,M8V,1,1,1,0,0,0,0,1,1,>65

# Save the cleaned dataset
df1_clean.to_csv('schema_1_cleaned.csv', index=False)

#### Dataset Schema 2
##### Load the dataset 2

In [22]:
df2

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,15,L6B,n,y,y,n,n,n,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,15,L6J,n,n,y,n,n,n,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64
14929,16,N9V,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44
14930,16,L3Z,n,n,y,n,n,n,y,n,n,NaN,NaN,asian,m,other,26-44
14931,16,L6J,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44

#### 1: DEDUPLICATION
##### Keep only the latest record per session

In [23]:
df2_clean = df2[df2['is_most_recent'] == 'y'].copy()

#### STEP 2: TEMPORAL MAPPING
##### Schema 2 contains weeks 15 and 16, which fall in April

In [24]:
df2.week.unique()

array([15, 16])

In [25]:
week_to_month = {15: 'April', 16: 'April'}
df2_clean['month'] = df2_clean['week'].map(week_to_month)

In [26]:
df1_clean

,month,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,age_1
0,April,L4C,0,0,1,0,0,0,0,0,0,<65
1,April,P1H,1,1,1,0,0,0,1,0,1,>65
2,April,N2J,0,1,1,0,0,0,0,0,0,>65
3,April,N1G,0,0,1,0,0,0,0,0,0,<65
5,April,L3M,0,0,1,0,0,0,0,0,0,<65
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,April,N0G,0,1,1,0,0,0,1,0,0,<65
263635,April,M6P,0,1,1,0,0,0,1,0,0,<65
263636,April,L3X,0,0,1,0,0,0,0,0,0,<65
263637,April,M6R,0,0,1,0,0,0,0,0,0,<65
263638,April,M8V,1,1,1,0,0,0,0,1,1,>65

In [27]:
df2_clean = df2_clean.drop(columns=['week'])

#### STEP 3: BINARY STANDARDIZATION
##### Convert 'y'/'n' to 1/0 for health and behavior flags

In [28]:
binary_cols = [
    'probable', 'vulnerable', 'fever_chills_shakes', 
    'cough', 'shortness_of_breath', 'any_medical_conditions',
    'travel_outside_canada', 'contact_with_illness'
]

for col in binary_cols:
    if col in df2_clean.columns:
        df2_clean[col] = df2_clean[col].map({'y': 1, 'n': 0}).fillna(0).astype(int)

##### Move 'month' to the first column to match the other schemas

In [29]:
cols = ['month'] + [c for c in df2_clean.columns if c != 'month']
df2_clean = df2_clean[cols]

In [30]:
df2_clean

,month,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,April,M1P,0,0,y,0,0,0,1,0,0,NaN,NaN,NaN,m,NaN,45-64
1,April,N2P,0,1,y,0,0,0,1,0,0,runnyNose,highBloodPressure,asian,m,other,45-64
3,April,M4P,0,0,y,0,0,0,1,0,0,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,April,L4N,0,0,y,0,0,0,1,0,0,NaN,NaN,caucasian,f,emotionalSupport,26-44
5,April,M4S,0,0,y,0,0,0,1,0,0,soreThroat;runnyNose,NaN,NaN,f,NaN,45-64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,April,L6B,0,1,y,0,0,0,1,0,0,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,April,L6J,0,0,y,0,0,0,1,0,0,runnyNose,NaN,NaN,f,NaN,45-64
14929,April,N9V,0,0,y,0,0,0,1,0,0,NaN,NaN,caucasian,m,other,26-44
14930,April,L3Z,0,0,y,0,0,0,1,0,0,NaN,NaN,asian,m,other,26-44
14931,April,L6J,0,0,y,0,0,0,1,0,0,NaN,NaN,caucasian,m,other,26-44

##### symptoms:	NaN changed to 'none' Reason is The person is asymptomatic.
##### conditions:	NaN	changed to 'none' Reason is The person has no pre-existing conditions.
##### ethnicity	NaN	changed to 'none' Reason is The person did not specify their ethnicity.
##### needs	NaN	changed to 'none' Reason is The person does not require emergency help.

In [31]:
text_cols = ['symptoms', 'conditions', 'ethnicity', 'needs']

# Fill NaNs with 'none' to represent a negative or neutral response
for col in text_cols:
    if col in df2_clean.columns:
        df2_clean[col] = df2_clean[col].fillna('none')

In [32]:
df2_clean.isnull().sum()

month                     0
fsa                       0
probable                  0
vulnerable                0
is_most_recent            0
fever_chills_shakes       0
cough                     0
shortness_of_breath       0
any_medical_conditions    0
travel_outside_canada     0
contact_with_illness      0
symptoms                  0
conditions                0
ethnicity                 0
sex                       0
needs                     0
age_1                     0
dtype: int64

In [33]:
df3

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,n,n,n,n,n,y,n,n,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
2,April,K0L,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,n,n,n,n,n,y,n,n,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,n,n,n,n,n,y,n,n,...,NaN,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,n,n,n,n,n,y,n,n,...,firstNations;black/african;caucasian,NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,n,y,n,n,n,y,n,n,...,NaN,m,noneOfTheAbove,>65,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
15533,July,K2H,n,n,n,n,n,y,n,n,...,NaN,f,noneOfTheAbove,45-64,negatively,stillTravelEssential,y,NaN,NaN,n

In [34]:
df3.columns

Index(['month', 'fsa', 'probable', 'vulnerable', 'fever_chills_shakes',
       'cough', 'shortness_of_breath', 'any_medical_conditions',
       'travel_outside_canada', 'contact_with_illness', 'contact_in_household',
       'tested', 'covid_results_date', 'covid_positive', 'symptoms',
       'conditions', 'ethnicity', 'sex', 'needs', 'age_1',
       'mental_health_impact', 'travel_work_school', 'self_isolating',
       'media_channels', 'financial_obligations_impact', 'tobacco_usage'],
      dtype='object')

In [35]:
df3_clean =df3.copy()

In [36]:
# STEP 2: HANDLE NaN VALUES
# Text-based columns often have NaNs when the user has nothing to report

In [37]:
text_cols = ['symptoms', 'conditions', 'ethnicity']
for col in text_cols:
    if col in df3_clean.columns:
        df3_clean[col] = df3_clean[col].fillna('none')

In [38]:
# STEP 3: BINARY ENCODING (1 and 0)
# List of all Yes/No columns present in Schema 3

In [39]:
binary_cols = [
    'probable', 'vulnerable', 'fever_chills_shakes', 
    'cough', 'shortness_of_breath', 'any_medical_conditions',
    'travel_outside_canada', 'contact_with_illness'
]

for col in binary_cols:
    if col in df3_clean.columns:
        # Convert y/n to 1/0 and handle any remaining NaNs as 0
        df3_clean[col] = df3_clean[col].map({'y': 1, 'n': 0}).fillna(0).astype(int)

In [40]:
# 4. Final Verification
# Ensure there are no leftover NaNs in critical columns
print(df3_clean[['month', 'age_1', 'cough', 'ethnicity']].isnull().sum())

# Save the cleaned dataset
#df3.to_csv('schema_3_cleaned.csv', index=False)

month        0
age_1        0
cough        0
ethnicity    0
dtype: int64

In [41]:
df3_clean

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,0,0,0,0,0,1,0,0,...,none,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,0,0,0,0,0,1,0,0,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
2,April,K0L,0,0,0,0,0,1,0,0,...,none,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,0,0,0,0,0,1,0,0,...,none,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,0,0,0,0,0,1,0,0,...,none,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,0,0,0,0,0,1,0,0,...,none,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,0,0,0,0,0,1,0,0,...,firstNations;black/african;caucasian,NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,0,0,0,0,0,1,0,0,...,none,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,0,1,0,0,0,1,0,0,...,none,m,noneOfTheAbove,>65,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
15533,July,K2H,0,0,0,0,0,1,0,0,...,none,f,noneOfTheAbove,45-64,negatively,stillTravelEssential,y,NaN,NaN,n

In [42]:
# 1. Define groups for different filling strategies
none_fill_cols = [
    'needs', 'mental_health_impact', 'travel_work_school', 
    'self_isolating', 'media_channels', 'financial_obligations_impact', 
    'tobacco_usage'
]

unknown_fill_cols = ['sex', 'age_1']

# 2. Apply the fills
# Fill behavioral/impact columns with 'none'
for col in none_fill_cols:
    if col in df3_clean.columns:
        df3_clean[col] = df3_clean[col].fillna('none')

# Fill demographic columns with 'unknown'
for col in unknown_fill_cols:
    if col in df3_clean.columns:
        df3_clean[col] = df3_clean[col].fillna('unknown')

In [43]:
df3_clean

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,0,0,0,0,0,1,0,0,...,none,unknown,noneOfTheAbove,<26,none,none,none,none,none,none
1,April,M9P,0,0,0,0,0,1,0,0,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,none,n
2,April,K0L,0,0,0,0,0,1,0,0,...,none,unknown,noneOfTheAbove,45-64,none,none,none,none,none,none
3,April,N9E,0,0,0,0,0,1,0,0,...,none,unknown,noneOfTheAbove,45-64,none,none,none,none,none,none
4,April,L2N,0,0,0,0,0,1,0,0,...,none,unknown,financialSupport,<26,none,none,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,0,0,0,0,0,1,0,0,...,none,unknown,emotionalSupport,45-64,none,none,none,none,none,none
15530,July,K1R,0,0,0,0,0,1,0,0,...,firstNations;black/african;caucasian,unknown,emotionalSupport,26-44,none,none,none,none,none,none
15531,July,M4M,0,0,0,0,0,1,0,0,...,none,unknown,noneOfTheAbove,26-44,none,none,none,none,none,none
15532,July,M6P,0,1,0,0,0,1,0,0,...,none,m,noneOfTheAbove,>65,noImpact,didntTravelBefore,n,newspaper;radio,none,n
15533,July,K2H,0,0,0,0,0,1,0,0,...,none,f,noneOfTheAbove,45-64,negatively,stillTravelEssential,y,none,none,n

In [44]:
# 1. Fill NaN values with 'none' first (very important!)
df3_clean['symptoms'] = df3_clean['symptoms'].fillna('none')

# 2. Split the semicolon-separated strings into a matrix of 1s and 0s
symptom_dummies = df3_clean['symptoms'].str.get_dummies(sep=';')

# 3. Combine this new matrix with your original dataset
# We prefix the columns with 'symp_' so we know where they came from
symptom_dummies = symptom_dummies.add_prefix('symp_')
df3_final = pd.concat([df3_clean, symptom_dummies], axis=1)

# 4. Optional: Drop the original text column to save space
df3_final = df3_final.drop(columns=['symptoms'])

In [45]:
df3_final

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,symp_fever,symp_lossOfSmellTaste,symp_none,symp_noneOfTheAbove,symp_other,symp_runnyNose,symp_shakes,symp_shortnessOfBreath,symp_soreThroat,symp_stomachPainCramps
0,April,M4P,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,April,M9P,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,April,K0L,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,April,N9E,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,April,L2N,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
15530,July,K1R,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
15531,July,M4M,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
15532,July,M6P,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
15533,July,K2H,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [46]:
df3_clean['age_1']

0          <26
1          <26
2        45-64
3        45-64
4          <26
         ...
15529    45-64
15530    26-44
15531    26-44
15532      >65
15533    45-64
Name: age_1, Length: 15534, dtype: object

In [47]:
df3_final

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,symp_fever,symp_lossOfSmellTaste,symp_none,symp_noneOfTheAbove,symp_other,symp_runnyNose,symp_shakes,symp_shortnessOfBreath,symp_soreThroat,symp_stomachPainCramps
0,April,M4P,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,April,M9P,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,April,K0L,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,April,N9E,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,April,L2N,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
15530,July,K1R,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
15531,July,M4M,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
15532,July,M6P,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
15533,July,K2H,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [48]:
df3_final['covid_positive_clean'] = (
    df3_final['covid_positive']
    .astype(str)
    .str.strip()
    .str.lower()
)
df3_final['covid_positive_num'] = df3_final['covid_positive_clean'].map({
    'positively': 1,
    'positive': 1,
    'n': 0,
    'negatively': 0,
    'negative': 0
})
df3_final['covid_positive'] = df3_final['covid_positive_num'].astype('Int64')
df3_final.drop('covid_positive_num',axis=1, inplace=True)
df3_final.drop('covid_positive_clean',axis=1, inplace=True)

In [49]:
df3_final.columns

Index(['month', 'fsa', 'probable', 'vulnerable', 'fever_chills_shakes',
       'cough', 'shortness_of_breath', 'any_medical_conditions',
       'travel_outside_canada', 'contact_with_illness', 'contact_in_household',
       'tested', 'covid_results_date', 'covid_positive', 'conditions',
       'ethnicity', 'sex', 'needs', 'age_1', 'mental_health_impact',
       'travel_work_school', 'self_isolating', 'media_channels',
       'financial_obligations_impact', 'tobacco_usage', 'symp_chills',
       'symp_cough', 'symp_diarrhea', 'symp_diarrhee', 'symp_fever',
       'symp_lossOfSmellTaste', 'symp_none', 'symp_noneOfTheAbove',
       'symp_other', 'symp_runnyNose', 'symp_shakes', 'symp_shortnessOfBreath',
       'symp_soreThroat', 'symp_stomachPainCramps'],
      dtype='object')

In [50]:
#df3_final.to_csv('cleaned_schema_3_data_Ela.csv', index=False)

In [51]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/miniconda3/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/miniconda3/lib/python3.13/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [52]:
# Convert the dataframe to an Excel file
df3_final.to_excel('cleaned_schema_3_data.xlsx', index=False)

In [53]:
df2_clean.to_excel('cleaned_schema_2_data.xlsx', index=False)

In [54]:
df1_clean.to_excel('cleaned_schema_1_data.xlsx', index=False)

In [55]:
df1_clean['age_binary'] = df1_clean['age_1'].map({'>65': 1, '<65': 0})

/var/folders/nj/fdy4zp7d40b5ts85m8dpqqkc0000gn/T/ipykernel_87736/2305175963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_clean['age_binary'] = df1_clean['age_1'].map({'>65': 1, '<65': 0})

In [56]:
df1_clean

,month,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,age_1,age_binary
0,April,L4C,0,0,1,0,0,0,0,0,0,<65,0
1,April,P1H,1,1,1,0,0,0,1,0,1,>65,1
2,April,N2J,0,1,1,0,0,0,0,0,0,>65,1
3,April,N1G,0,0,1,0,0,0,0,0,0,<65,0
5,April,L3M,0,0,1,0,0,0,0,0,0,<65,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
263634,April,N0G,0,1,1,0,0,0,1,0,0,<65,0
263635,April,M6P,0,1,1,0,0,0,1,0,0,<65,0
263636,April,L3X,0,0,1,0,0,0,0,0,0,<65,0
263637,April,M6R,0,0,1,0,0,0,0,0,0,<65,0
263638,April,M8V,1,1,1,0,0,0,0,1,1,>65,1

In [57]:
print(df2_clean['age_1'].unique())

['45-64' '26-44' '<26' '>65']

In [58]:
df2_clean['age_binary'] = df2_clean['age_1'].map({'>65': 1, '<65': 0})

In [59]:
df2_clean

,month,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1,age_binary
0,April,M1P,0,0,y,0,0,0,1,0,0,none,none,none,m,none,45-64,NaN
1,April,N2P,0,1,y,0,0,0,1,0,0,runnyNose,highBloodPressure,asian,m,other,45-64,NaN
3,April,M4P,0,0,y,0,0,0,1,0,0,none,none,caucasian,f,emotionalSupport,26-44,NaN
4,April,L4N,0,0,y,0,0,0,1,0,0,none,none,caucasian,f,emotionalSupport,26-44,NaN
5,April,M4S,0,0,y,0,0,0,1,0,0,soreThroat;runnyNose,none,none,f,none,45-64,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,April,L6B,0,1,y,0,0,0,1,0,0,none,heartDisease;breathingProblems,none,f,none,26-44,NaN
14928,April,L6J,0,0,y,0,0,0,1,0,0,runnyNose,none,none,f,none,45-64,NaN
14929,April,N9V,0,0,y,0,0,0,1,0,0,none,none,caucasian,m,other,26-44,NaN
14930,April,L3Z,0,0,y,0,0,0,1,0,0,none,none,asian,m,other,26-44,NaN
14931,April,L6J,0,0,y,0,0,0,1,0,0,none,none,caucasian,m,other,26-44,NaN

In [60]:
df2_clean = pd.get_dummies(df2_clean, columns=['age_1'], dtype=int)

In [61]:
df3_final['age_1']

0          <26
1          <26
2        45-64
3        45-64
4          <26
         ...
15529    45-64
15530    26-44
15531    26-44
15532      >65
15533    45-64
Name: age_1, Length: 15534, dtype: object

In [62]:
df3_final = pd.get_dummies(df3_final, columns=['age_1'], dtype=int)

In [63]:
df3_final

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,symp_other,symp_runnyNose,symp_shakes,symp_shortnessOfBreath,symp_soreThroat,symp_stomachPainCramps,age_1_26-44,age_1_45-64,age_1_<26,age_1_>65
0,April,M4P,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,April,M9P,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,April,K0L,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,April,N9E,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,April,L2N,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15530,July,K1R,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
15531,July,M4M,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
15532,July,M6P,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
15533,July,K2H,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0